__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
.DS_Store
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
.local/
*.log
*.sqlite
data/API_SL.TLF.ACTI.1524.ZS_DS2_en_csv_v2_5033/
fetureFetures
