streamlit
requests
fastapi
uvicorn
pandas
numpy
plotly
streamlit-lottie
scikit-learn
folium
geopy
streamlit-folium
scipy
fastapi
folium
geopy
numpy
pandas
plotly
requests
scikit-learn
scipy
streamlit
streamlit-folium
streamlit-lottie
uvicorn
